@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@200&family=Montserrat:wght@300;500&family=Roboto+Condensed:ital@1&display=swap');

*{
font-family: 'poppins', sans-serif!important;
}
.mat-elevation-z8{
    width: 1300px;
}

td, th {
    text-align: center !important;
    vertical-align: middle !important;
}

.mat-sort-header-container {
    justify-content: center !important;
}

.search-bar{
    display: flex;
    align-items: center;
}

mat-form-field{
    height: 75px;
}

.action-buttons a{
    margin: 0 4%;
    width: 42%;
}



